.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #f26bac;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem;
}

h2 {
  font-size: 2.5rem;
  padding: 1rem;
}

h3 {
  font-size: 2rem;
  padding: 1rem;
}

h4 {
  font-size: 1.5rem;
  padding: 1rem;
}

.bold {
  font-weight: bold;
}

p {
  line-height: 1rem;
}

.pinky {
  color: #f26bac;
}

.justify {
  text-align: justify;
}

.center {
  text-align: center;
}

.spacedlines {
  line-height: 1.6;
}

.containerMainPage {
  padding: 50px;
}

.submitButtonPage {
  border: 1px solid #A9A9A9;
}

.submitButtonFooter {
  border: none;
}
